@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 64px;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;          
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #007acc;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
    transition: all 0.4s ease-out;
    z-index: 1;
    top: 0%;
    left: 0%;
}

.line {
    position: absolute;
    background: #fff;
    width: 12px;
    height: 64px;
}

.circle:not(.circle-clicked):hover {
    transform: scale(1.25);
}

.line0 {
    animation: zero-sign-change 2.2s infinite ease-out; 
}

.line1 {
    transform: rotate(90deg);
    animation: one-sign-change 2.2s infinite ease-out;
}


@keyframes zero-sign-change {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg)

    }
    30% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    55% {
        transform: rotate(45deg)
    }
    95% {
        transform: rotate(45deg)
    }
    to {
        transform: rotate(0deg)
    }
}

@keyframes one-sign-change {
    from {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(90deg);
    }

    55% {
        transform: rotate(-45deg);
    }

    75% {
        transform: rotate(-45deg);
    }

    80% {
        transform: rotate(45deg);
    }

    95% {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.calc-div {
    position: absolute;
    background-color: #eee;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
    border-radius: 18px;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
    z-index: 0;
}

.calc-div-clicked {
    padding: 18px;
    height: 658px;
    width: 330px;
    min-height: 658px;
}

.circle-clicked {
    height: 58px;
    width: 58px;
    transition: all 0.5s ease-out;
    top: calc(329px - 47px);
    left: calc(165px - 54px);
}

.line0-clicked {
    animation: none;
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    top: 5%;
    width: 7px;
    height: 37px;
}

.line1-clicked {
    animation: none;
    transform: rotate(90deg);
    bottom: 5%;
    width: 7px;
    height: 37px;
    transition: all 0.5s ease-in-out;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 166px;
    margin-bottom: 18px;
    font-size: 24px;
    text-align: right;
    padding: 8px;
}

.output {
    font-weight: 400;
}

.result {
    text-align: end;
    margin-top: 8px;
    font-size: 36px;
}

.input {
    display: grid;
    margin: 0 auto 0;
    height: 438px;
    width: 294px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 58px;
    width: 58px;
    margin: 0 auto 18px;
    font-size: 36px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
}

#plus-btn, #minus-btn, #multiply-btn, #divide-btn, #delete-btn {
    font-weight: bold;
}

.btn-without-margin {
    margin-bottom: 0;
}

.history {
    position: absolute;
    font-size: 18px;
    left: 26px;
    top: 26px;
    background-color: #eee;
    padding: 4px 18px 4px;
    border-radius: 18px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
    cursor: pointer;
    z-index: 3;
}


.history-div {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    border-radius: 18px;
    background-color: #eee;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.history-div-clicked {
    overflow-y: auto;
    padding: 20% 0 18px;
    height: 100%;
}

.history-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    width: 100%;
    margin-bottom: 18px;
    font-size: 24px;
    text-align: right;
    padding: 8px 26px 8px 26px;
    cursor: pointer;
}

.history-display:hover {
    background-color: #ddd;
}

.history-output {
    font-weight: 400;
    font-size: 18px;
}

.history-result {
    text-align: end;
    margin-top: 8px;
    font-size: 24px;
}

.line0-history {
    transform: rotate(-45deg);
    top: 18%;
}

.line1-history {
    transform: rotate(45deg);
    bottom: 18%;
}

.circle-history {
    transition: all 0.6s ease-in-out;
}

.circle-history:hover {
    background-color: rgb(173, 26, 26);
}


@media screen and (max-width: 800px) {
    .display {
        height: 90px;
    }

    .calc-div-clicked {
        height: 580px;
        min-height: 580px;
    }

    .circle-clicked {
        top: calc(290px - 27px - 18px);
    }

    .history {
        left: 8px;
        top: 8px;
        font-size: 14px;
    }
}

/* for galaxy fold */
@media screen and (max-width: 300px) {
    html {
        transform: scale(0.75)
    }
}


